# Dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# React cache
.eslintcache

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp